<table class="table table-stripped">
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Nickname
      </th>
      <th>
        Jméno
      </th>
      <th>
        Příjmení
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
