<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Titulek</th>
      <th>Autor</th>
      <th>Kategorie</th>
      <th>Datum </th>
      <th>Akce</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td>
        {{article.article.id}}
      </td>
      <td>
        {{article.article.title}}
      </td>
      <td>
        {{article.user.nickname}}
      </td>
      <td>
        {{article.category.name}}
      </td>
      <td>
        {{article.article.date}}
      </td>
      <td>
        <a href="#" class="col-md-3 action-button"><i class="fa fa-trash" aria-hidden="true"></i></a>
        <a href="#" class="col-md-3 action-button"><i class="fas fa-pen" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>
</table>
