<ng4-loading-spinner> </ng4-loading-spinner>
<div class="row" *ngIf="showNav; else loginForm">
  <aside class="sidebar col-md-2" data-spy="affix" data-offset-top="20">
    <app-sidebar></app-sidebar>
  </aside>
  <main class="col-md-10 margin-top-main">
    <router-outlet></router-outlet>
  </main>
</div>
<ng-template #loginForm>
  <main>
    <router-outlet></router-outlet>
  </main>
</ng-template>
