<ng-template #content let-modal class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Galerie</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row images-list">
      <div *ngFor="let image of images"  [attr.data-filename]="image.fileName" (click)="pickImage($event)" class="mediapool-preview col-md-3 col-xs-12">
        <img class="modal-preview-image" src="{{makeImageUrl(image.fileName)}}">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline float-left">Nahrát fotku expresně <i class="fas fa-chevron-down"></i> </button>
    <button type="button" class="btn btn-outline float-right" (click)="modal.close('Save click')">Vybrat</button>
  </div>
</ng-template>

<label class="strong-label">Vyberte fotku článku</label>
<div class="clear-fix"></div>
<button class="btn btn-default" type="button" (click)="open(content)">Galerie</button>
