<div class="container-fluid">
  <h1>Přidáváte nový článek</h1>
  <form name="articleAddForm" [formGroup]="articleForm" (ngSubmit)="addArticle()">
      <div class="row">
        <div class="form-group col-md-9">
          <label for="title" class="strong-label required">Název</label>
          <input type="text" class="form-control" formControlName="title" name="title" id="title">
        </div>
        <div class="form-group col-md-3">
          <label for="categoryId" class="strong-label required">Kategorie</label>
          <select class="form-control" formControlName="categoryId">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
            <label for="articleDate" class="strong-label required">Vyberte datum</label>
            <div class="row">
                <input class="form-control col-md-9" name="date" placeholder="rrrr-mm-dd" formControlName="date" ngbDatepicker #articleDatePicker="ngbDatepicker">
                <button class="btn btn-outline col-md-3" (click)="articleDatePicker.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
            </div>
        </div>
        <app-mediapool-modal (onImagePicked)="onImagePicked($event)" class="col-md-3"></app-mediapool-modal>
        <img *ngIf="pickedImage != null" class="col-md-3 modal-preview-image" src="{{makeImageUrl(pickedImage)}}">
      </div>
      <div class="form-group col-md-12">
        <div>
          <label for="articlePerex" class="strong-label required">Úvod</label>
          <span class="float-right">Skrýt <i class="fas fa-chevron-up"></i></span>
        </div>
        <ck-editor name="editorPerex" [config]="configPerex" formControlName="perex" skin="moono-lisa" language="cs" [fullPage]="true"></ck-editor>
      </div>
      <div class="form-group col-md-12">
        <div>
          <label for="articleContent" class="strong-label required">Obsah</label>
          <span class="float-right">Skrýt <i class="fas fa-chevron-up"></i></span>
        </div>
        <ck-editor name="editorContent" [config]="configContent" formControlName="content" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
      </div>
      <button type="submit" class="btn btn-default float-right">Přidat</button>
    </form>

</div>
