<nav>
  <ul class="menu-list">
    <li *ngFor="let menuItem of menuItems" class="hvr-sweep-to-right menu-item">
      <a class="menu-item-height row vertical-align" *ngIf="menuItem.containsHref()" routerLink="/app/{{menuItem.getUrl()}}" routerLinkActive="active-menu-item">
        <i class="menu-item-icon {{menuItem.getIconPath()}} col-md-2"></i>
        <p class="col-md-8">{{menuItem.getName()}}</p>
        <span class="col-md-2"></span>
      </a>
      <a *ngIf="!menuItem.containsHref()" class="expander row vertical-align">
        <i class="menu-item-icon {{menuItem.getIconPath()}} col-md-2"></i>
        <p class="col-md-8">{{menuItem.getName()}}</p>
        <i class="menu-item-icon fas fa-chevron-down arrow-icon col-md-2"></i>
      </a>
      <ul *ngIf="!menuItem.containsHref()" class="menu-list submenu" >
        <li *ngFor="let menuItem of menuItem.getNextItems()" class="menu-item submenu vertical-align row">
          <i class="menu-item-icon {{menuItem.getIconPath()}} col-md-2"></i>
          <a routerLink="/app/{{menuItem.getUrl()}}" routerLinkActive="active-menu-item" class="col-md-8">
            {{menuItem.getName()}}
          </a>
          <span class="col-md-2"></span>
        </li>
      </ul>
    </li>
    <li>
    <a class="hvr-sweep-to-right menu-item menu-item-height at-the-bottom vertical-align row" routerLink="/doLogout" routerLinkActive="active-menu-item">
      <i class="menu-item-icon fas fa-sign-out-alt col-md-2"></i>
      <p class="col-md-8">odhlásit se</p>
      <span class="col-md-2"></span>
    </a>
  </ul>
</nav>
