/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-toastr/toastr.css";

body {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 14px !important;
}

a {
	color: white;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
	color: white;
}

p {
	margin-bottom: 0 !important;
}

h1 {
	font-size: 2rem !important;
	margin: 4px;
}

.margin-top-main {
	margin-top: 10px;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.uppercase-text {
  text-transform: uppercase;
}

.clearfix {
	content: "";
  clear: both;
  display: table;
}

.menu-list {
  margin-left: 0;
  padding-left: 0;
}

.submenu {
	display: none;
	background-color: #384a5e;
}

.menu-item {
  color: white;
  text-transform: uppercase;
  list-style: none;
  border-top: 1px solid rgba(255,255,255,.25);
  border-left: none;
  border-right: none;
  width: 100%;
	text-align: center;
}

.menu-item.submenu {
	height: 50px;
	display: block;
}

.menu-item-height {
	height: 50px;
}

.fixed-wrapper {
	position: fixed;
}

/* Sweep to right effect */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #384a5e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.vertical-align {
	display: flex !important;
	align-items: center;
	justify-content: center;
}



.active-menu-item {
	color: lightgrey !important;
}

/* active menu item icon */
.fas.active {
	display: block;
	background-color: #1db954;
	height: 100%;
	line-height: 50px;
}

.menu-item-icon {
	float: left;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('images/background/blur-wallpaper.jpg');
}

.login-form {
	position: relative;
	background-color: #435970;
	width: 400px;
	min-height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
}

.padded-content {
	padding-left: 30px;
	padding-right: 30px;
}

.horizontal-center {
	text-align: center;
}

.credentials {
	margin-top: 80px;
	margin-bottom: 80px;
}

.login-form label {
  color: white;
}

.login-form input {
  height: 40px;
  width: 100%;
  color: black;
	text-indent: 2px;
  background: white;
	border: none;
}

.login-form span {
	color: white;
	font-size: 12px;
}

.login-form button {
  background: #1db954;
  padding: 10px;
  color: white;
  width: 100%;
	padding: 20px;
  cursor: pointer;
	position: absolute;
	bottom: 0;
	border: none;
}

.info-bubble {
	background-color: #F5F5F5;
	width: 100%;
	height: auto;
	position: relative;
}

.not-exists-disclaimer {
	margin-top: 30px;
	padding: 10px;
}

.not-exists-disclaimer > p::first-letter {
	text-transform: capitalize;
}

.top-arrow::before {
	content: '';
	margin-top: -20px;
	margin-left: 45%;
	border-color: #F5F5F5 transparent;
	border-style: solid;
	border-width: 0px 20px 20px 20px;
	height: 0px;
	width: 0px;
	position: absolute;
}

.sidebar {
	padding: 0 !important;
  height: 100vh;
	background-color: #435970;
}

.expander {
	cursor: pointer;
	height: 50px;
}

.at-the-bottom {
	position: absolute;
	bottom: 0;
}

.strong-label {
	font-size: 1.1rem;
	font-weight: 500;
}

.modal-footer {
	display: block !important;
}

.modal-preview-image {
	width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.required::after {
	content: ' *';
	color: red;
	opacity: 1;
}

.mediapool-preview {
	margin-bottom: 10px;
}

.mediapool-preview:hover {
	opacity: 0.5;
}

.choosen-item {
	position: absolute;
	right: 20px;
	top: 10px;
	color: green;
}

.action-button {
	color: black !important;
}
