<div class="login-wrapper d-flex justify-content-center align-items-center">
  <p>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
    <div class="credentials padded-content">
        <div class="form-group">
          <label for="nickname" class="uppercase-text">uživatelské jméno</label>
          <div class="clearfix"></div>
          <input formControlName="nickname" type="text" value="" required>
          <span *ngIf="loginForm.hasError('required', 'nickname')">Prosím vyplňte toto pole.</span>
        </div>
        <div class="form-group">
          <label for="password" class="uppercase-text">heslo</label>
          <div class="clearfix"></div>
          <input formControlName="password" type="password" value="" required>
          <span *ngIf="loginForm.hasError('required', 'password')">Prosím vyplňte toto pole.</span>
        </div>
        <div *ngIf="loginForm.badLoginTry" class="not-exists-disclaimer info-bubble row vertical-align">
          <i class="col-lg-2 col-xs-12 fas fa-2x fa-exclamation-circle"></i>
          <p class="col-lg-10 col-xs-12">Přihlášení nebylo úspešné, kombinace hesla a uživatelského jména není správná.</p>
        </div>
      </div>
    <button name="button" class="uppercase-text" [disabled]="!loginForm.valid">přihlásit se</button>
  </form>
</div>
